Source: storage-provider-owncloud
Section: ???
Priority: optional
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Standards-Version: 3.9.6
Build-Depends: cmake,
               cmake-extras (>= 0.4),
               debhelper (>= 9),
               google-mock,
               libboost-system-dev (>= 1.58) | libboost-system1.58-dev,
               libboost-thread-dev (>= 1.58) | libboost-thread1.58-dev,
               libgtest-dev,
               libonline-accounts-qt-dev,
               libqtdbustest1-dev,
               storage-framework-provider-dev,
               storage-framework-client-dev,
               php-cli | php5-cli <!nocheck>,
               php-sabre-dav <!nocheck>,
               pkg-config,
               python3-dbus <!nocheck>,
               python3-gi <!nocheck>,
               qtbase5-dev,
               qtbase5-dev-tools,
Homepage: https://launchpad.net/storage-provider-owncloud
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:storage-provider-owncloud

Package: storage-provider-owncloud
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
         account-plugin-owncloud
Description: Owncloud plugin for Storage Framework
 A Storage Framework plugin providing access to Owncloud servers.
