<?xml version="1.0" encoding="UTF-8" ?>
<!-- -*- mode: nxml -*- -->
<service id="storage-provider-nextcloud">
  <type>storage-provider</type>
  <name>Nextcloud</name>
  <icon>online-accounts-nextcloud</icon>
  <provider>nextcloud</provider>
</service>
